/* Base styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-repeat: no-repeat;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    list-style: none;
}

span {
    font-family: inherit;
}

.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
}